* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    font-family: Segoe UI, Ariel, Helvetica, sans-serif;
}

.img-box .username {
    text-shadow: 2px 2px 2px #051937;

}

p {
    font-size: 0.8rem;
    color: #888;
}

h2 {
    font-weight: normal;
    color: #888;
}

h3 {
    font-weight: normal;
    color: #888;
    font-size: 0.9rem;
    margin-block: 10px;
}

.para {
    color: #212;
}

.main-container {
    width: 70%;
    display: flex;
    gap: 20px;
    margin-inline: auto;
    margin-block: 20px;
}

.left-container {
    width: 35%;
}

.right-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 4px 4px 6px #000;
}

.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
}

.img-box .username {
    position: absolute;
    bottom: 4px;
    left: 5px;
    color: white;
}

.contact-info ul,
.skills ul {
    list-style: none;
}

.icon-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

i {
    color: #051937;
}

.progress-bar {
    background-color: #fff;
    border-radius: 20px;
    margin-block: 8px;
}

.progress {
    background-color: #051937;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 0.6rem;
    padding-block: 2px;
}

.left-desc {
    margin: 15px;
}

.card-pd-mrg {
    margin: 15px;
}

ul {
    margin-block: 20px;
    ;
}

hr {
    border: 0.5px solid #eee;
}

ul>li {
    margin-top: 8px;
}

.skills {
    margin-block: 10px;
}

/* .languages { 
    margin-block: 10px;
  } */

.date {
    color: #051937;
    padding: 4.1px;
}

.badge {
    background-color: #051937;
    color: #fff;
    padding: 2px 4px;
    font-size: 0.6rem;
    border-radius: 4px;
}

.para {
    margin-block: 10px;
}